@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', monospace;
}
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 99%;
    margin-top: 5px;
    border: solid 3px black;
    border-radius: 20px;
}
.progress-container {
    width: 100%;
    height: 8px;
    background: white;
}
.progress-bar {
    height: 8px;
    background: black;
    width: 0%;
}
.title{
    display:flex;
    align-items: center;
    justify-content: center;
}
.title-button{
    width:25%;
    background-color: white;
    border: solid 2px black;
    border-radius: 200px;
    transition: color 0.5s ,all 1s;
}
.title-button:hover{
    width:50%;
    background-color: black;
    color: white;
    border: solid 2px black;
    border-radius: 200px;
}
.container{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}
.image{
    max-width: 100%;
    max-height:100%;
}
.bigger-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    display:flex;
    align-items: center;
    justify-content: center;
}
.invisible, .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 2.5s;
}
.visible, .show{
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
}
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: solid 2px black;
    margin: 2px;
    outline: none;
    transition: 0.4s;
    text-align: center;
  }
  
  
.active, .accordion:hover {
    background-color: #eee;
}
.panel {
    text-align:center;
    padding: 0 18px;
    width: auto;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}  